@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .slider-track {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scroll 5s linear infinite;
}
/* animation: scroll 10s linear infinite; Faster scroll */

  .slider-container {
    overflow: hidden;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider-track {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scroll 40s linear infinite;
  }
  
  .slider-track > div {
    flex-shrink: 0; /* Prevent items from shrinking */
  }
  

  